{% extends "landing_layout.html" %}

{% block title %}
    FISD Course Catalog
{% endblock %}

{% block main %} 

<div class="margins">
    <div class="row">
        <h1 style="padding-left:1vw;">Welcome to the Frisco ISD Course Catalog Website </h1>
        <p class="gray prerec" style="padding-top: 1.2rem; padding-left:.5rem;">(not affiliated with FISD)</p>
    </div>
    <p>This website has taken the long and tedious PDF format of the course catalog and turned it into an
        easy to use search engine. All you have to do is head over to the "search courses" tab on the navigation bar at the top,
        and put in any specifications you are looking for in your classes.
    
    
    </p>
    <hr class="hr5">
    <p>
        If you want to know more about the website and its creation, head over to the "learn more" tab on the navigation bar. 
        There's not really anything else to it, thanks for reading this and I hope the website helps you out!
    </p>
</div>

    

{% endblock %}