{% extends "landing_layout.html" %}

{% block title %}
    FISD Course Catalog
{% endblock %}

{% block main %} 

<div class="margins">
    <div class="row">
        <div class="col">
            <h2 style="margin-bottom: 1.5rem; padding:0;">
                My Background
            </h2>
        </div>
    
    </div>
    
    

    <p>
        As you may already know, this is not an FISD affiliated website. This is just something that a high schooler made to 
        (hopefully) make course selection easier. <br><hr class="hr5"> One thing you should note is that the data I have isn't perfect. Because I automated the collection of it,
        some of the grade levels or class type distinctions may be a little off, but I promise you I am working on that. 
        Even then, the website is still functional and should hopefully help you in deciding what courses to take. As time goes on,
        I will include more features in this website, but for the time being, thanks for visiting!
    </p>
    
    
</div>

    

{% endblock %}